#gameArea {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 20px auto;
  background: black;
  border: 2px solid #00ff00;
}

#player {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #00ff00;
  bottom: 0;
  left: 10px;
}

.platform {
  position: absolute;
  width: 100px;
  height: 10px;
  background: #00ff00;
}
