body {
  background: black;
  color: #00ff99;
  font-family: monospace;
  text-align: center;
}

#gameArea {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 20px auto;
  background: #111;
  border: 2px solid #00ff99;
  overflow: hidden;
  border-radius: 10px;
}

#player {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #00ffaa;
  border-radius: 5px;
  bottom: 0;
  left: 10px;
  box-shadow: 0 0 10px #00ff99;
}

.platform {
  position: absolute;
  width: 100px;
  height: 10px;
  background: #00ff99;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ff99;
}

.info { width: 800px; margin: auto; }

.progress {
  width: 100%;
  height: 12px;
  background: #003300;
  margin-top: 5px;
}

#bar {
  width: 0%;
  height: 12px;
  background: #00ff99;
  transition: width 0.5s;
}

.hidden { display: none; }

#endScreen button {
  padding: 10px 20px;
  background: #00ff99;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
